
.error {
    color: red;
}

/* General styles for the registration form */
body {
    font-family: Arial, sans-serif;
    background-color: #040000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {
    background: linear-gradient(45deg, #FF5733, #FFBD33, #33FF57, #33A3FF);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    text-align: center;
    color: #333;
}

#registrationForm {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Style form labels and inputs */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007BFF;
}

/* Style error messages */
.error {
    color: red;
    font-size: 14px;
}

/* Style submit button */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    #registrationForm {
        max-width: 90%;
    }
}

@media screen and (max-width: 480px) {

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-size: 14px;
    }

    input[type="submit"] {
        font-size: 14px;
        padding: 10px 15px;
    }
}
